Functions/Connected Services/registerReference/register2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/progRegister" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/progRegister" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FirmaD">
    <xs:sequence>
      <xs:element minOccurs="0" name="adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idfi" type="xs:int" />
      <xs:element minOccurs="0" name="kodpoczt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="miejsc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nazwa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FirmaD" nillable="true" type="tns:FirmaD" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Idf" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Program" type="xs:short" />
      <xs:element minOccurs="0" name="Progver" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="licenceNr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="OrderVerifi">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Order">
        <xs:sequence>
          <xs:element minOccurs="0" name="Payment" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RegistrId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderVerifi" nillable="true" type="tns:OrderVerifi" />
  <xs:complexType name="SendStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="added" type="xs:int" />
      <xs:element minOccurs="0" name="succes" type="xs:byte" />
      <xs:element minOccurs="0" name="updated" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendStatus" nillable="true" type="tns:SendStatus" />
</xs:schema>