Functions/Connected Services/registerReference/Register.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Register" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://astra.aspnet.pl/prog/register.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://astra.aspnet.pl/prog/register.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://astra.aspnet.pl/prog/register.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/progRegister" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SetFirma_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFirma" />
  </wsdl:message>
  <wsdl:message name="IService1_SetFirma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFirmaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFirma_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirma" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFirma_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFirmaById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFirmaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_SetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_P_register_InputMessage">
    <wsdl:part name="parameters" element="tns:P_register" />
  </wsdl:message>
  <wsdl:message name="IService1_P_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:P_registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEncNip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEncNip" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEncNip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEncNipResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStat_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStat" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStatResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SetFirma">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetFirma" message="tns:IService1_SetFirma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetFirmaResponse" message="tns:IService1_SetFirma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirma">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFirma" message="tns:IService1_GetFirma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFirmaResponse" message="tns:IService1_GetFirma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFirmaById" message="tns:IService1_GetFirmaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFirmaByIdResponse" message="tns:IService1_GetFirmaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetOrder" message="tns:IService1_SetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetOrderResponse" message="tns:IService1_SetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrder" message="tns:IService1_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderResponse" message="tns:IService1_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="P_register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/P_register" message="tns:IService1_P_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/P_registerResponse" message="tns:IService1_P_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEncNip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEncNip" message="tns:IService1_GetEncNip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEncNipResponse" message="tns:IService1_GetEncNip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterStatus" message="tns:IService1_RegisterStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterStatusResponse" message="tns:IService1_RegisterStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterStat" message="tns:IService1_RegisterStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterStatResponse" message="tns:IService1_RegisterStat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetFirma">
      <soap:operation soapAction="http://tempuri.org/IService1/SetFirma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirma">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFirma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmaById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFirmaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/SetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P_register">
      <soap:operation soapAction="http://tempuri.org/IService1/P_register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEncNip">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEncNip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterStat">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Register">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://astra.aspnet.pl/prog/register.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>